// Derived from CMS Design System: https://github.com/CMSgov/design-system/blob/master/packages/core/src/components/StepList/StepList.scss

$step-list-number-size: 32px !default;
$step-list-number-size-mobile: 24px !default;
$step-list-number-font-size: size('ui', 8) !default;
$step-list-number-font-size-mobile: size('ui', 3) !default;
$step-list-number-border-size: 2px !default;
$step-list-number-margin: 10px !default;
$step-list-padding-h: 0 !default;
$step-list-padding-left: $step-list-padding-h + $step-list-number-margin + $step-list-number-size;
$step-margin: units(2) !default;
$step-border-width: 1px !default;
$step-button-height: 40px !default;
$current-step-color: color('primary') !default;
$future-step-color: color('base-dark') !default;

.oec-step-list {
	list-style-type: none;
	margin: 0;
	padding: 0 $step-list-padding-h;
	padding-left: $step-list-padding-left;

	.oec-step-list__step {
		color: $future-step-color;
		counter-increment: step-counter;
		position: relative;

		&:not(:last-child) {
			margin-bottom: $step-margin;
			padding-bottom: $step-margin;
		}

		&::before {
			border: $step-list-number-border-size solid $future-step-color;
			border-radius: 50%;
			box-sizing: border-box;
			color: $future-step-color;
			content: counter(step-counter);
			display: block;
			font-size: $step-list-number-font-size-mobile;
			height: $step-list-number-size-mobile;
			left: -($step-list-number-margin + $step-list-number-size-mobile);
			line-height: $step-list-number-size-mobile - $step-list-number-border-size * 2;
			position: absolute;
			text-align: center;
			top: ($step-button-height - $step-list-number-size-mobile) / 2;
			width: $step-list-number-size-mobile;

			@include at-media('tablet') {
				font-size: $step-list-number-font-size;
				height: $step-list-number-size;
				left: -($step-list-number-margin + $step-list-number-size);
				line-height: $step-list-number-size - $step-list-number-border-size * 2;
				padding-left: 1px;
				top: ($step-button-height - $step-list-number-size) / 2;
				width: $step-list-number-size;
			}
		}

		&:not(:last-child)::after {
			border-bottom: $step-border-width solid color('base-lighter');
			bottom: 0;
			content: '';
			display: block;
			height: 1px;
			left: -$step-list-padding-left;
			position: absolute;
			right: -$step-list-padding-h;
		}

		&:not(.oec-step-list__step--notStarted) {
			padding-bottom: $step-margin;

			&::before {
				border: 0 none;
				color: color('white');
				line-height: $step-list-number-size-mobile;

				@include at-media('tablet') {
					line-height: $step-list-number-size;
				}
			}
			&:not(.oec-step-list__step--active) {
				.oec-step-list__step__title {
					color: color('ink');
				}

				&::before {
					background: color('ink');
				}
			}
		}

		&--active {
			.oec-step-list__step__title {
				color: $current-step-color;
			}

			&::before {
				background: $current-step-color;
			}

			color: color('ink');
		}

		@include at-media('tablet') {
			display: flex;
			justify-content: space-between;
		}
	}

	.oec-step-list__step__content {
		@include at-media('tablet') {
			padding-right: units(2);
		}
	}

	.oec-step-list__step__title {
		font-size: size('ui', 4);
		line-height: $step-button-height;
		margin: 0;

		@include at-media('tablet') {
			font-size: size('ui', 9);
		}
	}

	.oec-step-list__step__actions {
		font-size: size('ui', 3);
		margin-left: auto;

		@include at-media('tablet') {
			font-size: size('ui', 5);
			text-align: right;
		}
	}

	.oec-step-list__step__status-text {
		display: inline-block;
		line-height: $step-button-height - 12px;
		margin-right: units(2);

		@include at-media('tablet') {
			display: block;
			margin-right: 0;
			padding-top: 6px;
			white-space: nowrap;
		}
	}

	.oec-step-list__step__summary {
		font-size: size('ui', 3);

		p {
			@include u-margin-y('05');
		}
	}

	&.embedded {
		padding: 0;

		li {
			padding: 1rem 2rem;
		}

		li::before {
			content: none;
		}

		.oec-step-list__step::after {
			left: 0;
		}
	}
}
