.container {
	&--button-unstyled {
		border-bottom: 1px solid #005ea2;
	}
}

.with-dropdown,
.with-dropdown:hover {
	text-decoration: none !important;
}

.dropdown {
	position: absolute;
	z-index: 1;

	width: max-content;
}

.option {
	display: block;

	width: 100%;
	padding: 1em;
	height: fit-content;

	border: solid black 1px;
	background-color: #ffffff;

	text-decoration: none;
	color: #000;
}

.option:hover {
	background-color: #e7e7e7;
}

.hidden {
	display: none;
}
