// color function is in required
@use '../../../node_modules/uswds/dist/scss/packages/required' as uswds;
@use '../../assets/styles/uswds-theme-color' as *;

.container {
	&--button-unstyled {
		border-bottom: 0.15rem solid #005ea2;
	}
}

.with-dropdown,
.with-dropdown:hover {
	text-decoration: none !important;
}

.dropdown {
	position: absolute;
	z-index: 1;

	width: max-content;
}

.option {
	display: block;

	width: 100%;
	padding: 1em;
	height: fit-content;

	border: solid uswds.color($theme-color-base) 1px;
	background-color: #ffffff;

	text-decoration: none;
	color: uswds.color('ink');

	&:not(:last-child) {
		border-bottom: none;
	}
}

.option:hover {
	background-color: #e7e7e7;
}

.hidden {
	display: none;
}
