#
#  This is the driver file for Azure DevOps 2019 build pipeline
#
trigger:
  - master

pool:
  vmImage: "ubuntu-latest"

steps:
  #
  # Setup sonarcloud authentication
  #
  - task: SonarCloudPrepare@1
    inputs:
      SonarCloud: "SonarCloudConnection"
      organization: "speedcm"
      scannerMode: "MSBuild"
      projectKey: "xhedwig"
  #
  # Download dependencies
  #
  - task: DotNetCoreCLI@2
    displayName: "Script: dotnet restore"
    inputs:
      command: restore
      projects: '**/*.csproj'
  #
  # Embed build id in help file
  #
  - task: replacetokens@3
    displayName: "Replace Tokens: Help.tsx"
    inputs:
      targetFiles: "**/Help.tsx"
      encoding: "auto"
      writeBOM: true
      actionOnMissing: "warn"
      keepToken: false
      tokenPrefix: "__"
      tokenSuffix: "__"
  #
  # Create an optimized production build
  #
  - script: dotnet publish "$(Build.SourcesDirectory)/src/Hedwig/hedwig.csproj" --output "$(Build.SourcesDirectory)/src/Hedwig/dist" --configuration Release --no-restore
    displayName: "Script: dotnet publish"
  #
  # Add beanstalk deployment manifest file to distribution
  #
  - script: cp aws-windows-deployment-manifest.json $(Build.SourcesDirectory)/src/Hedwig/dist
    displayName: "Script: add beanstalk package file"

  #
  # Perform backend tests
  #
  - script: docker-compose -f docker-compose.test.yaml run --rm test_backend
    displayName: "Script: run backend tests with docker-compose"

  #
  # Publish backend test results
  #
  - task: PublishTestResults@2
    displayName: "Publish test results"
    inputs:
      testResultsFormat: "VSTest"
      testResultsFiles: "**/*.trx"
      failTaskOnFailedTests: true

  #
  # Perform client unit tests
  #
  - script: cd src/Hedwig/ClientApp && yarn test --ci
    displayName: "Script: yarn test"
  #
  # Perform & publish static code analysis to sonarcloud
  #
  - task: SonarCloudAnalyze@1
  - task: SonarCloudPublish@1
    inputs:
      pollingTimeoutSec: "300"
  #
  # Generate idempotent db migration script for mssql
  #
  - script: export ConnectionStrings__HEDWIG=xxx && dotnet ef migrations script --idempotent --output $(Build.ArtifactStagingDirectory)/hedwig-db.sql --context HedwigContext --project src/Hedwig
    displayName: "Script: dotnet ef migrations script"
  #
  # Zip app runtime release
  #
  - task: ArchiveFiles@2
    displayName: "Archive Files"
    inputs:
      rootFolderOrFile: "$(Build.SourcesDirectory)/src/Hedwig/dist"
      includeRootFolder: false
      archiveType: "zip"
      #tarCompression: 'gz' # Optional. Options: gz, bz2, xz, none
      archiveFile: "$(Build.ArtifactStagingDirectory)/hedwig-spa.zip"
      replaceExistingArchive: true
  #
  # Publish artifact to dropbox - hedwig-spa
  #
  - task: PublishBuildArtifacts@1
    displayName: "Publish Artifacts: hedwig-spa"
    inputs:
      pathToPublish: "$(Build.ArtifactStagingDirectory)/hedwig-spa.zip"
      artifactName: hedwig-spa
  #
  # Publish artifact to dropbox - hedwig-db
  #
  - task: PublishBuildArtifacts@1
    displayName: "Publish Artifacts: hedwig-db"
    inputs:
      pathToPublish: "$(Build.ArtifactStagingDirectory)/hedwig-db.sql"
      artifactName: hedwig-db

#
# Issues
#
#   a. dependency manager - yarn
#     - package.json must include "test": "CI=true react-scripts test --env=jsdom",
#        or yarn test will hang during CI build
#
