// .oec-date-input__input.usa-form-group--error, .oec-date-input__input.usa-form-group--warning {
// 	margin-top: 0;
// }

// .DateInput__disabled, .SingleDatePickerInput__disabled, .DateRangePickerInput__disabled {
// 	background: unset;
// 	background-color: unset;
// }

// .DateInput_input__focused {
// 	border-bottom: unset;
// }

.oec-calendar-dropdown {
	position: absolute;
	right: 1rem;
}

.oec-calendar-dropdown__toggle {
	top: 0.5rem;
	height: 2.5rem;
	padding: 0 1rem;
}

.oec-calendar-toggle__icon {
	height: 1rem;
	color: color($theme-color-primary-vivid);
}

.oec-calendar-toggle__icon:hover, .oec-calendar-dropdown__toggle:focus .oec-calendar-toggle__icon {
	color: color($theme-color-primary-darker);
}
