// .oec-date-input__input.usa-form-group--error, .oec-date-input__input.usa-form-group--warning {
// 	margin-top: 0;
// }

// .DateInput__disabled, .SingleDatePickerInput__disabled, .DateRangePickerInput__disabled {
// 	background: unset;
// 	background-color: unset;
// }

// .DateInput_input__focused {
// 	border-bottom: unset;
// }

// // https://github.com/airbnb/react-dates
// .oec-date-input {
// 	&.oec-date-input--error input{
// 		@extend .usa-input--error;
// 	}
// 	&.oec-date-input--warning input{
// 		@extend .usa-input--warning;
// 	}
// 	&.oec-date-input--success input{
// 		@extend .usa-input--success;
// 	}
// }

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
	background: color('primary-dark');
	border: 1px double color('primary-darker');
}

.CalendarDay__selected_span {
	background: color('primary');
	border: 1px double color('primary-darker');
}

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover,
.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover,
.CalendarDay__hovered_span:active {
	background: color('primary-light');
	border: 1px double color('primary-darker');
	color: #fff;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
	border-right: 33px solid color('primary');
}

.DayPickerKeyboardShortcuts_show__bottomRight:hover::before {
	border-right: 33px solid color('primary-darker');
}

.oec-calendar-dropdown {
	position: absolute;
	right: 0.5rem;
}

button.oec-calendar-dropdown__toggle {
	top: 0.5rem;
	height: 2.5rem;
	border-radius: unset;
	border: 1px solid #565c65;
}

.oec-calendar-toggle__icon {
	height: 1rem;
}

// https://github.com/airbnb/react-dates/issues/1249 :/
// .DayPicker {
// 	visibility: unset !important;
// }
