.oec-table {
	@extend .usa-table;
	@extend .usa-table--borderless;

	th,
	td {
		border-color: color('base-lighter');
	}
}

.oec-table__cell--tabular-nums {
	@extend .text-tabular;
}

.oec-table__cell--right-align {
	text-align: right;
}

td.oec-table__cell--strong {
	font-weight: 700;
}

.oec-table__cell--red {
	color: color('secondary');
}

.oec-table__cell--gray {
	color: color('base');
}

.oec-table--full-width {
	width: 100%;
}

.oec-sortable {
	.oec-table__column-title {
		text-decoration: none;
		color: inherit;
		cursor: pointer;
	}

	&.oec-sorted .oec-table__column-title {
		font-weight: 700;
	}
}

.oec-unsorted:hover .oec-table__sort-controls {
	color: color($theme-color-base);
}

.oec-table__sort-controls {
	display: inline-block;
	position: relative;
	margin-left: units(1);
	vertical-align: middle;
	color: color($theme-color-base-lighter);

	&--ascending,
	&--descending {
		color: color('primary');
	}

	&--descending {
		svg {
			transform: rotate(180deg);
		}
	}
}
