.oec-text-with-icon {
	display: block;
	// @include u-text('primary');
	// @include u-text('bold');
}

.oec-text-with-icon__icon {
	height: units(2);
	width: units(2);
	vertical-align: bottom;
}

.oec-text-with-icon__icon--side-left {
	margin-right: units(1);
}

.oec-text-with-icon__icon--side-right {
	margin-left: units(1);
}

// Arrow points right by default

.oec-text-with-icon__icon--direction-down {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.oec-text-with-icon__icon--direction-left {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.oec-text-with-icon__icon--direction-up {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}
