/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// *** Header ***

.usa-header--extended {
	.usa-logo {
		@include at-media($theme-navigation-width) {
			margin: units(1.5) 0 units(1);
		}
	}

	.usa-nav {
		@include at-media($theme-navigation-width) {
			border-bottom: units(1px) solid color('base-lighter');
		}
	}
}

.usa-logo__text {
	$logo-size-mobile: 4;
	$logo-size-desktop: 9;

	&::before {
		@include u-square($logo-size-mobile);
		content: '';
		background-image: url('../images/logo.svg');
		background-repeat: no-repeat;
		background-size: 100% auto;
		display: inline-block;
		margin-left: units(-2px);
		margin-right: units(1);
		position: relative;
		top: units(-1px);
		vertical-align: middle;

		@include at-media('desktop') {
			@include u-square($logo-size-desktop);
			margin-right: units(2);
		}
	}
}

.attention-needed {
	color: color('secondary');
}

.oec-logged-in-user {
	display: block;

	width: 100%;
	padding-top: 1.5rem;

	font-weight: 700;

	@include at-media($theme-navigation-width) {
		float: right;
		height: units(5);
		text-align: right;
		padding-top: 0.55rem;
	}

	a {
		color: color('base-dark');
		text-decoration: none;

		&:hover {
			color: color('primary');
			text-decoration: underline;
		}
	}
}

.usa-nav__secondary-links a {
	font-size: size('ui', 1);
}

// *** Prose ***

h1 {
	margin-bottom: 0;
}

.usa-intro {
	margin-top: 0;
}

// *** Table ***

.oec-table {
	@extend .usa-table;
	@extend .usa-table--borderless;

	font-variant-numeric: tabular-nums;

	th,
	td {
		border-color: color('base-lighter');
	}
}

.oec-table--full-width {
	width: 100%;
}

.oec-table__sort-controls {
	display: inline-block;
	position: relative;
	margin-left: units(0.5);

	input {
		display: none;
	}

	label span {
		@extend .usa-sr-only;
	}

	label::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		width: 0;
		height: 0;
		border-width: 0.4em;
		border-style: solid;
		border-color: color('base-light');
		border-left: 0.25em solid transparent;
		border-right: 0.25em solid transparent;
	}

	input:checked + label::before {
		border-color: color('primary');
		border-left-color: transparent;
		border-right-color: transparent;
	}

	.oec-table__sort-controls__asc::before {
		bottom: units(-1px);
		border-bottom: none;
	}

	.oec-table__sort-controls__desc::before {
		bottom: 0.4em;
		border-top: none;
	}
}
