.oec-card {
	width: 100%;

	border-width: 3px;
	@include u-border('gray-10');

	&--secondary {
		@include u-bg('gray-5');
	}

	// Remove top border from not-first-cards so that we don't have redundant thick borders
	+ .oec-card {
		border-top: none;
	}

	.oec-card-tag {
		position: relative;
		float: left;
		top: -3px;
		left: -3px;
	}

	.oec-card-cell {
		@include u-padding-y(4);
		@include u-padding-x(6);
	}

	.oec-card-divider + .oec-card-cell {
		@include u-bg('white');
	}

	.oec-card-divider {
		border-width: 3px;
		@include u-border-bottom('gray-10');
	}
}
