// *** Prose ***
h1,
h2 {
	margin: 0;
}

.usa-intro {
	margin-top: 0;
}

.attention-needed {
	color: color('secondary');
}

.ellipsis-wrap-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&--tight {
		max-width: min-content;
	}
}

.line-height--small {
	line-height: 1.15;
}

// *** Alignment ***
.flex-first-baseline {
	align-items: first baseline;
}

.flex-space-between {
	justify-content: space-between;
}

.width-fit-content {
	width: fit-content;
}

.width-max-content {
	width: max-content;
}

.exact-width-flex {
	@extend .width-fit-content;
	flex: 0 0 auto;
}

.flex-center {
	justify-content: center;
}

.flex-end {
	justify-content: end;
}

.flex-align-center {
	align-items: center;
}

.flex-align-self--center {
	align-self: center;
}

.one-half-char-right {
	right: -0.5ch;
}

.oec-table th.text-right {
	@include u-text('right');
}

// *** Lists ***
/* hide original list counter */
ol > li {
	display: block;
}
/* reset counter */
ol > li:first-child {
	counter-reset: item;
}
/* increment counter */
ol > li {
	counter-increment: item;
}
/* print counter */
ol > li:before {
	content: counters(item, '.') '. ';
	font-weight: bold;
}

ol.no-list-counter > li:before {
	content: '';
}

// *** Grid ***
.grid-container > .usa-alert:first-child {
	margin-top: 1.67em;
}

.grid-container {
	margin-bottom: 2rem;
}

// *** Select Input ***
.usa-select:disabled {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #c9c9c9;
	color: white;
	pointer-events: none;
}

// *** Form ***
.usa-form {
	h2,
	h3 {
		@include u-margin-top(4);
		margin-bottom: 0;
	}
	.usa-button[type='submit'] {
		@include u-margin-top(6);
		@include u-margin-bottom(4);
	}
}

.usa-form-group--warning {
	@extend .usa-form-group--error;
	border-left-color: color($theme-color-warning-dark);
}

.usa-input--warning {
	@extend .usa-input--error;
	border-color: color($theme-color-warning-dark);
}

// *** Links ***

.usa-form a.usa-button:visited {
	@extend .usa-button, :visited;
}

// Background and text colors-- text used for SVG where fill or stroke attr = currentColor

.text-undefined {
	color: inherit;
}

// blue-50v text and tag bg
.text-blue-50v {
	color: color('blue-50v');
}
.bg-blue-50v {
	background-color: color('blue-50v');
}

// violet-warm-60 text and tag bg
.text-violet-warm-60 {
	color: color('violet-warm-60');
}
.bg-violet-warm-60 {
	background-color: color('violet-warm-60');
}

// gold-20v text and tag bg
.text-gold-20v {
	color: color('gold-20v');
}
.bg-gold-20v {
	background-color: color('gold-20v');
	color: #000;
}

// gold-30v text and tag bg
.text-gold-30v {
	color: color('gold-30v');
}
.bg-gold-30v {
	background-color: color('gold-30v');
	color: #000;
}

// theme color primary tag bg
.bg-theme-color-primary {
	background-color: $theme-color-primary;
}

// *** Forms ***
.oec-choicelist-expansion {
	.usa-form-group {
		.usa-label {
			margin-top: 0;
		}
	}

	.usa-form-group--error,
	.usa-form-group--warning {
		margin-top: 0;
		margin-left: -1.55rem;
	}
}

.oec-itemchooser-expansion {
	border-left: solid $theme-color-primary 4px;
	margin-left: 10px;
	padding-left: 1.3em;

	margin-bottom: 0.8em;

	> :first-child {
		padding-top: 0.7em;
	}

	> * {
		padding-bottom: 1em;
	}
}

.oec-itemchooser-expansion {
	.usa-form-group {
		.usa-label {
			margin-top: 0;
		}
	}

	.usa-form-group--error,
	.usa-form-group--warning {
		margin-top: 0;
		margin-left: -1.55rem;
	}
}

.usa-form--full-width {
	max-width: unset;
}

// Enrollment details-- also used in withdrawal
.oec-enrollment-details-section {
	@include u-padding-top(2);
	@include u-padding-bottom(1);
	border-bottom: units('1px') solid color('base-lighter');

	@include at-media('tablet') {
		display: flex;
		justify-content: space-between;
	}
}

.oec-enrollment-details-section__actions {
	@include u-margin-bottom(2);
	@include u-line-height('ui', 4);
	align-self: first baseline;
	margin-left: auto;

	@include at-media('tablet') {
		font-size: size('ui', 5);
		text-align: right;
	}

	a:not(.display-none) {
		display: block;
	}
}

.oec-enrollment-details-section__content {
	p {
		@include u-margin-y(1);
	}
}
