// *** Prose ***
h1 {
	margin: 0;
}

.intro {
	margin-top: 0;
}

.attention-needed {
	color: color('secondary');
}

// *** Alignment ***
.flex-first-baseline {
	align-items: first baseline;
}

.flex-space-between {
	justify-content: space-between;
}

.width-fit-content {
	width: fit-content;
}

// *** Grid ***
.grid-container > .usa-alert:first-child {
	margin-top: 1.67em;
}

.grid-container {
	margin-bottom: 2rem;
}

// *** Select Input ***
.usa-select:disabled {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #c9c9c9;
	color: white;
	pointer-events: none;
}

// *** Form ***
.usa-form {
	h2, h3 {
		@include u-margin-top(4);
		margin-bottom: 0;
	}

	.usa-button {
		@include u-margin-top(6);
		@include u-margin-bottom(4);
	}
}

.usa-form-group--warning {
	@extend .usa-form-group--error;
	border-left-color: color($theme-color-warning-dark);
}

.usa-input--warning {
	@extend .usa-input--error;
	border-color: color($theme-color-warning-dark);
}

// *** Links ***
// When we use links like buttons we need to style them the same
a.usa-button {
	text-decoration: inherit;
}

.usa-form a.usa-button:visited {
	@extend .usa-button, :visited;
}

// Background and text colors-- text used for SVG where fill or stroke attr = currentColor

.text-undefined {
	color: inherit;
}

// blue-50v text and tag bg
.text-blue-50v {
  color: color('blue-50v');
}
.bg-blue-50v {
  background-color: color('blue-50v');
}

// violet-warm-60 text and tag bg
.text-violet-warm-60 {
  color: color('violet-warm-60');
}
.bg-violet-warm-60 {
  background-color: color('violet-warm-60');
}

// gold-20v text and tag bg
.text-gold-20v {
  color: color('gold-20v');
}
.bg-gold-20v {
	background-color: color('gold-20v');
	color: #000;
}

// gold-30v text and tag bg
.text-gold-30v {
  color: color('gold-30v');
}
.bg-gold-30v {
	background-color: color('gold-30v');
	color: #000;
}
