/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// *** DatePicker ***
// https://github.com/airbnb/react-dates
.oec-date-input {
	&.oec-date-input--error input{
		@extend .usa-input--error;
	}
	&.oec-date-input--warning input{
		@extend .usa-input--warning;
	}
	&.oec-date-input--success input{
		@extend .usa-input--success;
	}
}

.DateRangePickerInput input,
.SingleDatePickerInput input {
	@extend .usa-input;
}

.DateInput__disabled, .SingleDatePickerInput__disabled, .DateRangePickerInput__disabled {
	background: unset;
	background-color: unset;
}

.DateInput_input__focused {
	border-bottom: unset;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
	background: color('primary-dark');
	border: 1px double color('primary-darker');
}

.CalendarDay__selected_span {
	background: color('primary');
	border: 1px double color('primary-darker');
}

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover,
.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover,
.CalendarDay__hovered_span:active {
	background: color('primary-light');
	border: 1px double color('primary-darker');
	color: #fff;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
	border-right: 33px solid color('primary');
}

.DayPickerKeyboardShortcuts_show__bottomRight:hover::before {
	border-right: 33px solid color('primary-darker');
}

// *** Date Input ***
.oec-date-input__input.usa-form-group--error, .oec-date-input__input.usa-form-group--warning {
	margin-top: 0;
}

// *** Select Input ***
.usa-select:disabled {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #c9c9c9;
	color: white;
	pointer-events: none;
}

.usa-form {
	h2, h3 {
		@include u-margin-top(4);
		margin-bottom: 0;
	}

	.usa-button {
		@include u-margin-top(6);
		@include u-margin-bottom(4);
	}
}

.usa-form-group--warning {
	@extend .usa-form-group--error;
	border-left-color: color($theme-color-warning-dark);
}

// TODO: DO WE WANT THIS?
// .usa-form-group--success {
// 	@extend .usa-form-group--error;
// 	border-left-color: color($theme-color-success-dark);
// }

.usa-warning-message, .usa-success-message {
	@extend .usa-error-message;
	color: color($theme-color-base);
	font-weight: inherit;
}

.usa-input--warning {
	@extend .usa-input--error;
	border-color: color($theme-color-warning-dark);
}

// TODO: DO WE WANT THIS?
// .usa-input--success {
// 	@extend .usa-input--error;
// 	border-color: color($theme-color-success-dark);
// }

.usa-fieldset--error {
	border-left-width: 0.25rem;
	border-left-style: solid;
	border-left-color: color($theme-color-error-dark);

	.usa-form-group--error {
		margin-top: 0;
		margin-left: 0;
		padding-left: 0;
		border-left: none;
	}
}

.usa-fieldset--warning {
	@extend .usa-fieldset--error;
	border-left-color: color($theme-color-warning-dark);

	.usa-form-group--warning {
		margin-top: 0;
		margin-left: 0;
		padding-left: 0;
		border-left: none;
	}
}

.usa-fieldset--success {
	@extend .usa-fieldset--error;
	border-left-color: color($theme-color-success);

	.usa-form-group--success {
		margin-top: 0;
		margin-left: 0;
		padding-left: 0;
		border-left: none;
	}
}

.oec-action-list {
	list-style-type: none;
	padding-left: 0;

	li {
		@include u-margin-y(2);
	}
}


// *** Width fit content ***
.width-fit-content {
	width: fit-content;
}

// *** Legend ****
.oec-legend__symbol {
	display: inline-block;
	position: relative;
	height: 100%;
	vertical-align: initial;
}

// *** Directional link ***
.oec-directional-link {
  padding: units(2) 0 0 0;
	display: block;
	@include u-text('primary');
	@include u-text('bold');
}

.oec-directional-link__arrow {
  height: units(2);
  width: units(2);
	vertical-align: middle;
}

.oec-directional-link__arrow--side-left {
  margin-right: units(1);
}

.oec-directional-link__arrow--side-right {
  margin-left: units(1);
}

// Arrow points right by default

.oec-directional-link__arrow--direction-down {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.oec-directional-link__arrow--direction-left {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.oec-directional-link__arrow--direction-up {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

// *** Button ***
// When we use links like buttons we need to style them the same
a.usa-button {
	text-decoration: inherit;
}

.usa-form a.usa-button:visited {
	@extend .usa-button, :visited;
}

// Background and text colors-- text used for SVG where fill or stroke attr = currentColor

.text-undefined {
	color: inherit;
}

// blue-50v text and tag bg
.text-blue-50v {
  color: color('blue-50v');
}
.bg-blue-50v {
  background-color: color('blue-50v');
}

// violet-warm-60 text and tag bg
.text-violet-warm-60 {
  color: color('violet-warm-60');
}
.bg-violet-warm-60 {
  background-color: color('violet-warm-60');
}

// gold-20v text and tag bg
.text-gold-20v {
  color: color('gold-20v');
}
.bg-gold-20v {
	background-color: color('gold-20v');
	color: #000;
}

// gold-30v text and tag bg
.text-gold-30v {
  color: color('gold-30v');
}
.bg-gold-30v {
	background-color: color('gold-30v');
	color: #000;
}
