/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// *** Header ***

.usa-header--extended {
	.usa-logo {
		@include at-media($theme-navigation-width) {
			margin: units(1.5) 0 units(1);
		}
	}

	.usa-nav {
		@include at-media($theme-navigation-width) {
			border-bottom: units(1px) solid color('base-lighter');
		}
	}
}

.usa-logo__text {
	$logo-size-mobile: 4;
	$logo-size-desktop: 9;

	&::before {
		@include u-square($logo-size-mobile);
		content: '';
		background-image: url('../images/logo.svg');
		background-repeat: no-repeat;
		background-size: 100% auto;
		display: inline-block;
		margin-left: units(-2px);
		margin-right: units(1);
		position: relative;
		top: units(-1px);
		vertical-align: middle;

		@include at-media('desktop') {
			@include u-square($logo-size-desktop);
			margin-right: units(2);
		}
	}
}

.attention-needed {
	color: color('secondary');
}

.oec-logged-in-user {
	display: block;

	width: 100%;
	padding-top: 1.5rem;

	font-weight: 700;

	@include at-media($theme-navigation-width) {
		float: right;
		height: units(5);
		text-align: right;
		padding-top: 0.55rem;
	}

	a {
		color: color('base-dark');
		text-decoration: none;

		&:hover {
			color: color('primary');
			text-decoration: underline;
		}
	}
}

.usa-nav__secondary-links a {
	font-size: size('ui', 1);
}

// *** Prose ***

h1 {
	margin-bottom: 0;
}

.usa-intro {
	margin-top: 0;
}

// *** Table ***

.oec-table {
	@extend .usa-table;
	@extend .usa-table--borderless;

	th,
	td {
		border-color: color('base-lighter');
	}
}

.oec-table__cell--tabular-nums {
	font-variant-numeric: tabular-nums;
}

.oec-table__cell--gray {
	color: color('base');
}

.oec-table--full-width {
	width: 100%;
}

.oec-sortable .oec-table__column-title {
	cursor: pointer;
}

.oec-table__sort-controls {
	display: inline-block;
	position: relative;
	margin-left: units(1);

	input {
		display: none;
	}

	label {
		cursor: pointer;
	}

	label span {
		@extend .usa-sr-only;
	}

	label::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		width: 0;
		height: 0;
		border-width: 0.4em;
		border-style: solid;
		border-color: color('base-light');
		border-left: 0.25em solid transparent;
		border-right: 0.25em solid transparent;
	}

	input:checked + label::before {
		border-color: color('primary');
		border-left-color: transparent;
		border-right-color: transparent;
	}

	.oec-table__sort-controls__asc::before {
		bottom: units(-1px);
		border-bottom: none;
	}

	.oec-table__sort-controls__desc::before {
		bottom: 0.4em;
		border-top: none;
	}
}

.oec-table-legend {
	@extend .margin-top-3;
	@extend .margin-bottom-neg-2;
	font-size: size('ui', 3);
}

.oec-inline-icon::before {
	width: 0.875em;
	height: 0.875em;
	content: '';
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: inline-block;
	position: relative;
	top: -0.1em;
	left: 0.1em;
	vertical-align: middle;
	margin-right: 0.25em;
}

.oec-inline-icon--attentionNeeded::before {
	background-image: url('../images/attentionNeeded.svg');
}

.oec-inline-icon--complete::before {
	background-image: url('../images/complete.svg');
	top: 0;
}

.oec-inline-icon--incomplete::before {
	width: 1.3em;
	margin-right: 0.05em;
	background-image: url('../images/incomplete.svg');
}

// Derived from CMS Design System: https://github.com/CMSgov/design-system/blob/master/packages/core/src/components/StepList/StepList.scss

$step-list-number-size: 32px !default;
$step-list-number-size-mobile: 24px !default;
$step-list-number-font-size: size('ui', 8) !default;
$step-list-number-font-size-mobile: size('ui', 3) !default;
$step-list-number-border-size: 2px !default;
$step-list-number-margin: 10px !default;
$step-list-padding-h: 0 !default;
$step-list-padding-left: $step-list-padding-h + $step-list-number-margin + $step-list-number-size;
$step-margin: units(2) !default;
$step-border-width: 1px !default;
$step-button-height: 40px !default;
$current-step-color: color('primary') !default;
$future-step-color: color('base-dark') !default;

.oec-step-list {
	list-style-type: none;
	margin: 0;
	padding: 0 $step-list-padding-h;
	padding-left: $step-list-padding-left;
}

.oec-step-list__step {
	color: $future-step-color;
	counter-increment: step-counter;
	margin-bottom: $step-margin;
	padding-bottom: $step-margin;
	position: relative;

	&::before {
		border: $step-list-number-border-size solid $future-step-color;
		border-radius: 50%;
		box-sizing: border-box;
		color: $future-step-color;
		content: counter(step-counter);
		display: block;
		font-size: $step-list-number-font-size-mobile;
		height: $step-list-number-size-mobile;
		left: -($step-list-number-margin + $step-list-number-size-mobile);
		line-height: $step-list-number-size-mobile - $step-list-number-border-size * 2;
		position: absolute;
		text-align: center;
		top: ($step-button-height - $step-list-number-size-mobile) / 2;
		width: $step-list-number-size-mobile;

		@include at-media('tablet') {
			font-size: $step-list-number-font-size;
			height: $step-list-number-size;
			left: -($step-list-number-margin + $step-list-number-size);
			line-height: $step-list-number-size - $step-list-number-border-size * 2;
			padding-left: 1px;
			top: ($step-button-height - $step-list-number-size) / 2;
			width: $step-list-number-size;
		}
	}

	&::after {
		border-bottom: $step-border-width solid color('base-lighter');
		bottom: 0;
		content: '';
		display: block;
		height: 1px;
		left: -$step-list-padding-left;
		position: absolute;
		right: -$step-list-padding-h;
	}

	@include at-media('tablet') {
		display: flex;
		justify-content: space-between;
	}
}

.oec-step-list__step:not(.oec-step-list__step--notStarted) {
	padding-bottom: $step-margin;

	&::before {
		border: 0 none;
		color: color('white');
		line-height: $step-list-number-size-mobile;

		@include at-media('tablet') {
			line-height: $step-list-number-size;
		}
	}
}

.oec-step-list__step--active {
	.oec-step-list__step__title {
		color: $current-step-color;
	}

	&::before {
		background: $current-step-color;
	}
}

.oec-step-list__step:not(.oec-step-list__step--notStarted):not(.oec-step-list__step--active) {
	.oec-step-list__step__title {
		color: color('ink');
	}

	&::before {
		background: color('ink');
	}
}

.oec-step-list__step__content {
	@include at-media('tablet') {
		padding-right: units(2);
	}
}

.oec-step-list__step__title {
	font-size: size('ui', 4);
	line-height: $step-button-height;
	margin: 0;

	@include at-media('tablet') {
		font-size: size('ui', 9);
	}
}

.oec-step-list__step__actions {
	font-size: size('ui', 3);
	margin-left: auto;

	@include at-media('tablet') {
		font-size: size('ui', 5);
		text-align: right;
	}
}

.oec-step-list__step__status-text {
	display: inline-block;
	line-height: $step-button-height - 12px;
	margin-right: units(2);

	@include at-media('tablet') {
		display: block;
		margin-right: 0;
		padding-top: 6px;
		white-space: nowrap;
	}
}

.hedwig-enrollment-details-section {
	@include u-padding-bottom(1);
	border-bottom: units('1px') solid color('base-lighter');

	@include at-media('tablet') {
		display: flex;
		justify-content: space-between;
	}
}

.hedwig-enrollment-details-section__actions {
	@include u-margin-bottom(2);
	@include u-line-height('ui', 3);
	margin-left: auto;

	@include at-media('tablet') {
		@include u-margin-top(3);
		font-size: size('ui', 5);
		text-align: right;
	}

	a {
		display: block;
	}
}
