@media print {
  @page { size:8.5in 11in; margin: 2cm }
  
  header {
    @include u-display('none');
  }

  // <Tag />
  .usa-tag {
    background-color: #ffffff;
    @include u-text($theme-color-base-ink);
  }

  // <Link />
  .usa-link {
    &, &:visited, &:link {
      @include u-text('no-underline');
      @include u-text($theme-color-base-ink);
    }
  }

  .print-cancel {
    float: right;
    position: relative;
    top: 15px;
  }
}